#dashboard {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
}

/* ---- apps bar ---- */

#dashboard > #dashboard-apps {
  width: 80px;
  background-color: #1b1b1b;

  display: flex;
  flex-direction: column;
  align-items: center;
}

#dashboard > #dashboard-apps > .apps-item {
  height: 80px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-bottom: solid 1px #f1f1f1; */
}
#dashboard > #dashboard-apps > .apps-item:first-child {
  border-bottom: solid 4px #303030;
}
#dashboard > #dashboard-apps > .apps-item:hover {
  background-color: #212121;
  cursor: pointer;
}
#dashboard > #dashboard-apps > .apps-item.active {
  background-color: #212121;
}

/* ---- board bar ---- */

#dashboard > #dashboard-board {
  /* width: 260px; */
  background-color: #212121;
}
#dashboard > .dashboard-board-show {
  width: 260px;
  transition-duration: 0.1s;
}
#dashboard > .dashboard-board-hide {
  width: 0;
  transition-duration: 0.1s;
}

#dashboard > #dashboard-board #b-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  height: 80px;
  border-bottom: solid 4px #303030;
}

#dashboard > #dashboard-board > #b-options > .b-option {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  font-size: 0.9rem;
}

#dashboard > #dashboard-board > #b-options > .b-option:hover {
  background-color: #1b1b1b;
  cursor: pointer;
}

/* chats bar */

#dashboard > #dashboard-chats {
  width: 300px;
  background-color: #252525;
}
#dashboard > .dashboard-chats-show {
  width: 300;
  /* transition-duration: 0.1s; */
}
#dashboard > .dashboard-chats-hide {
  width: 0;
  /* transition-duration: 0.1s; */
}

#dashboard > #dashboard-chats > #c-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 80px;
  border-bottom: solid 4px #303030;
}

#dashboard > #dashboard-chats > #c-chats > .c {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#dashboard > #dashboard-chats > #c-chats > .c:hover {
  background-color: #303030;
  cursor: pointer;
}

#dashboard > #dashboard-chats > #c-chats > .c > .c-text {
  width: 100%;
}

#dashboard > #dashboard-chats > #c-chats > .c > .c-text > .c-name {
  font-size: 0.8rem;
}

#dashboard > #dashboard-chats > #c-chats > .c > .c-text > .c-msg {
  font-size: 0.7rem;
}

#dashboard > #dashboard-chats > #c-chats > .c > .c-menu {
  width: 32px;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#dashboard > #dashboard-chats > #c-chats > .c > .c-menu > .c-duration {
  font-size: 0.5rem;
}

/* detail chat bar */

#dashboard > #dashboard-detail-chat {
  width: calc(100vw - 700px);
  background-color: #f1f1f1;
}
/* #dashboard > .dashboard-detail-chat-show {
  width: 240px;
  transition-duration: 0.1s;
}
#dashboard > .dashboard-detail-chat-hide {
  width: 0;
  transition-duration: 0.1s;
} */

#dashboard > #dashboard-detail-chat > #dc-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  height: 80px;
  border-bottom: solid 4px #303030;
}
#dashboard > #dashboard-detail-chat > #dc-header > #dc-name:hover {
  background-color: #d1d1d1;
  cursor: pointer;
}

#dashboard > #dashboard-detail-chat > #dc-header > #dc-icons {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  align-items: center;
  align-content: center;
}

#dashboard > #dashboard-detail-chat > #dc-header > #dc-icons > #dc-star {
  width: 80px;
}
#dashboard > #dashboard-detail-chat > #dc-header > #dc-icons > #dc-star:hover {
  cursor: pointer;
}
#dashboard > #dashboard-detail-chat > #dc-header > #dc-icons > #dc-voice {
  width: 80px;
}
#dashboard > #dashboard-detail-chat > #dc-header > #dc-icons > #dc-voice:hover {
  cursor: pointer;
}
#dashboard > #dashboard-detail-chat > #dc-header > #dc-icons > #dc-video {
  width: 80px;
}
#dashboard > #dashboard-detail-chat > #dc-header > #dc-icons > #dc-video:hover {
  cursor: pointer;
}

/* ---- */

#dashboard > #dashboard-detail-chat > #dc-content {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 80px);
}

#dashboard > #dashboard-detail-chat > #dc-content > .dc-messages {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 180px);
  overflow-y: scroll;
}

#dashboard
  > #dashboard-detail-chat
  > #dc-content
  > .dc-messages
  > .dc-message-box {
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
}
#dashboard
  > #dashboard-detail-chat
  > #dc-content
  > .dc-messages
  > .dc-message-box-receive {
  flex-direction: row;
}
#dashboard
  > #dashboard-detail-chat
  > #dc-content
  > .dc-messages
  > .dc-message-box-send {
  flex-direction: row-reverse;
}

#dashboard
  > #dashboard-detail-chat
  > #dc-content
  > .dc-messages
  > .dc-message-box
  > .dc-profile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#dashboard
  > #dashboard-detail-chat
  > #dc-content
  > .dc-messages
  > .dc-message-box
  > .dc-message {
  max-width: 450px;
}

#dashboard > #dashboard-detail-chat > #dc-content > .dc-reply {
  width: 100%;
  height: 100px;
  background-color: #ffffff;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#dashboard
  > #dashboard-detail-chat
  > #dc-content
  > .dc-reply
  > #dc-text
  > input {
  text-decoration: none;
  border: none;
}
#dashboard
  > #dashboard-detail-chat
  > #dc-content
  > .dc-reply
  > #dc-text
  > input:hover {
  border: solid 1px #3c3c3c;
}

#dashboard > #dashboard-detail-chat > #dc-content > .dc-reply > #dc-send {
  background-color: #3bc249;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* edit bar */

#dashboard > #dashboard-edit {
  width: 240px;
  background-color: #ffffff;
}
#dashboard > .dashboard-edit-show {
  width: 240px;
  /* transition-duration: 0.1s; */
}
#dashboard > .dashboard-edit-hide {
  width: 0;
  /* transition-duration: 0.1s; */
}

#dashboard > #dashboard-edit > #e-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 80px;
  border-bottom: solid 4px #303030;
}

#dashboard > #dashboard-edit > #e-body > #e-apps {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

#dashboard > #dashboard-edit > #e-body > #e-profile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  /* height: 200px; */
}

#dashboard > #dashboard-edit > #e-body > #e-about > .e-about-line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  font-size: 0.8rem;
}
